<div class="container">
    <mat-card class="card">
        <mat-calendar class="calendar"  [minDate]="minDate" [maxDate]="maxDate"  [(selected)]="selected"></mat-calendar>
    </mat-card>

    <mat-card class="card2">
        <img mat-card-image src="../../assets/Img.png" alt="Information">
        <div class="example-button-row" >
        <button mat-raised-button style="padding:2%;" onclick="location.href='https://www.linkedin.com/in/awansari/';"><img style="height: 20px;" src="../../assets/58e91afdeb97430e81906504.png" alt="Information"></button>
        <button mat-raised-button (click)="openSnackBar(email, 'Copied!')" [cdkCopyToClipboard]="email">abdulwahedansari@gmail.com</button>
        <button mat-raised-button (click)="openSnackBar(contact, 'Copied!')" [cdkCopyToClipboard]="contact">+1 660 528 0042</button>
        
        </div>
    </mat-card>
</div>